<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.aberdeenuni.acse"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" 
                 android:icon="@drawable/icon"
                 android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name="ACSE"
                  android:icon="@drawable/icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ACSENews" />
        <activity android:name=".ACSEEvents" />
        <activity android:name=".ACSETwitter" />
        <activity android:name=".ACSEFacebook" />
        <activity android:name=".ACSEYoutube" />
        <activity android:name=".ACSESlideshare" />
        <activity android:name=".ACSEAbout"/>
        <activity android:name=".ACSEInternationalNews" />
        <activity android:name=".ACSEGuardian" />
        <activity android:name=".ACSEBbc" />
        <activity android:name=".ACSEReuters" />
        <activity android:name=".ACSEPodcast" />
        <activity android:name=".ACSERelu" />
        <activity android:name=".ACSEPppc" />
        <activity android:name=".ACSEFactsofweek" />
        <activity android:name=".ACSEFastfacts" />
        <activity android:name=".ACSEInterestingfacts" />
        <activity android:name=".ACSEOddfacts" />
        <activity android:name=".ACSESpeciesfacts" />
        <activity android:name=".ACSEEndangeredfacts"/>
        <activity android:name=".ACSEBarcodescanner"/>
    </application>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>    
</manifest> 

